# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\js_proj\electronic-life-v.1.0.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
